<div class="movie-detail" *ngIf="movieDetail">
  <app-poster [posterImageURL]="movieDetail.poster_path"></app-poster>
  <div class="overview">
    <div class="movie-overview">
      <app-movie-overview [movieOverview]="movieDetail.overview" [title]="movieDetail.title" ></app-movie-overview>
    </div>
    <div class="movie-meta-details">
      <app-movie-meta [genre]="genres" [rating]="movieDetail.vote_average"></app-movie-meta>
    </div>
  </div>      
  <div>
    <div class="col-lg-12 pb-2 latest-container" *ngIf="similarMovies">
      <h3 class="heading m-3 pl-5">Similar Movies</h3>
      <div class="card-container m-3 pl-5">
        <div class="card-view m-2" *ngFor="let card of similarMovies">
          <app-card [data]="card">
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>