.navigation-panel{
    background-color:black;
    height: 35px;
    width: 100%;
    padding-top:15px;

    .brand-label{
        margin:0 50px 0 20px;
        color:gray;
        text-decoration:none;
    }

    .each-link{
        padding:15px;   
        color:gray;
        text-decoration:none;
    }
}